<div class="container mt-4">
  <app-voltar />

  <div class="painel-container">
    <h2 class="titulo">Lista de Mensagens</h2>
    <div class="d-flex gap-1 ">
      <button class="btn btn-success mb-3" [routerLink]="['/mensagens/mensagem-formulario']">
        Nova Mensagem
      </button>
      <button class="btn btn-secondary mb-3" (click)="toggleActive()">
        {{ getActive ? 'Mostrar Inativos' : 'Mostrar Ativos' }}
      </button>
    </div>
    <table class="tabela">
      <thead>
        <tr>
          <th>ID</th>
          <th>Código</th>
          <th>Data Cadastro</th>
          <th>Status</th>
          <th>Consultar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mensagem of mensagensLista">
          <td>{{ mensagem.id }}</td>
          <td>{{ mensagem.chaveMensagem }}</td>
          <td>{{ mensagem.dataCadastro | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ mensagem.dataInativo ? 'Inativo' : 'Ativo' }}</td>
          <td>
            <button class="btn btn-outline-primary btn-sm" title="Consultar" (click)="consult(mensagem.chaveMensagem!)">
              <i class="bi bi-search"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <nav class="paginacao" *ngIf="totalPages > 1">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="pageNumber === 1">
          <a class="page-link pointer" (click)="loadPage(pageNumber - 1)">Anterior</a>
        </li>

        <ng-container *ngFor="let page of getPages()">
          <li *ngIf="isNumber(page)"
              class="page-item"
              [class.active]="pageNumber === page">
            <a class="page-link pointer" (click)="loadPage(page)">{{ page }}</a>
          </li>

          <li *ngIf="isString(page)" class="page-item disabled">
            <span class="page-link">{{ page }}</span>
          </li>
        </ng-container>

        <li class="page-item" [class.disabled]="pageNumber === totalPages">
          <a class="page-link pointer" (click)="loadPage(pageNumber + 1)">Próxima</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
