services:
  chiakibot:
    image: chiaki-bot:latest
    container_name: chiakibot
    build:
      context: ./chiaki-bot
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
      - "3002:3002"
    environment:
      - PREFIX=/
      - BACKEND_URL=http://api:3000/api/
      - VALKEY_HOST=valkey
      - BOT_NAME=ChiakiBot
    volumes:
      - ./logs:/app/logs:rw
    depends_on:
      - valkey
    restart: always

  api:
    image: chiakibot-api:latest
    container_name: chiakibot-api
    build:
      context: ./ChiakiBot-API
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./banco:/usr/src/app/database:rw
      - ./uploads:/usr/src/app/uploads:rw
    environment:
      - NODE_ENV=production
    restart: always

  chiaki-web-panel:
    image: chiaki-web-painel:latest
    container_name: chiaki-web-painel
    build:
      context: ./chiaki-web-painel
      dockerfile: Dockerfile
    ports:
      - "8069:80"
    restart: always

  valkey:
    image: valkey/valkey:8.1.3-alpine
    container_name: valkey
    ports:
      - "6379:6379"
    restart: always
    command: valkey-server